.container{
    padding: 16px;
    position:fixed;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}

.inputField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.btn{
    
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 40%;
        
      
}